/* 
Main Author: Thomas Guilbaud <thomas.guilbaud@epfl.ch>, EPFL/Transmutex SA (Switzerland)
Style: Marion Seminel
*/

:root {
    --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
    --blue: #0069b4;
    --dark-blue: #003c68;
    --lightgrey: rgb(238, 238, 238);
}

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

textarea {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

input {
    font-size: 16px;
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
    margin: auto;
}

/* Banner */
.banner {
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.banner .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.banner-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.banner-name img {
    height: 2.5rem;
    width: 2.5rem;
}

.banner-name p {
    font-size: 22px;
    font-weight: 600;
}

/* GitLab button */
.gitlab-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: 700;
    background-color: var(--lightgrey);
    padding-right: 1rem;
    padding-left: 0.5rem;
    border-radius: 2rem;
    transition: 0.3s;
}

.gitlab-link:hover {
    background-color: var(--blue);
    color: white;
}

.gitlab-link img {
    width: 2.5rem;
    height: 2.5rem;
}

/* Grid display */
.grid {
    display: grid;
    min-height: calc(100vh - 2rem - 2.5rem - 3rem - 2rem - 1rem);
    gap: 1rem;
    grid-template: 'a b' auto /* minmax(10px, max-content) */
                   'a c'
                   'a d' 1fr / 2fr 1fr; /* calc(100vh - 22rem) */
    margin-bottom: 1rem;
}

.grid-fullscreen {
    display: grid;
    gap: 1rem;
    padding-bottom: 1rem;
    grid-template: 'a' auto
                   'c' auto
                   'b' auto
                   'd' auto / 1fr;
}

/* Lattice setup and info */
.setup {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1rem;
    z-index: 3;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.setup label {
    display: inline-block;
}

.setup-info {
    text-align: right;
    z-index: 3;
}

.lattice-canvas-row-columns-names-helper-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    position: absolute;
    bottom: 2.5rem;
    left: 1rem;
    margin: 0;
    height: 2rem;
    z-index: 3;
}

.lattice-circle-helper-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    margin: 0;
    height: 2rem;
    z-index: 3;
}

.lattice-circle-slider-container {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.lattice-circle-slider {
    display: none;
}

.lattice-symmetry-mode {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    margin: 0;
    height: 2rem;
    z-index: 3;
}

.symmetry-number {
    display: none;
    width: 3rem;
    margin-left: 1rem;
}

.lattice-symmetry-flag {
    display: block;
    position: absolute;
    bottom: 3rem;
    right: 1rem;
    margin: 0;
    z-index: 3;
}

.lattice-symmetry-flag img {
    height: 1.5rem;
    width: 1.5rem;
}

/* Lattice canvas */
.lattice {
    grid-area: a;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    padding: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 40vh;
}

.lattice-size-text {
    top: 1.5rem;
    right: 4rem;
    margin: 0;
    z-index: 3;
}

.lattice-full-screen {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    top: 1rem;
    right: 1rem;
    margin: 0;
    z-index: 3;
}

.lattice-button {
    width: 2rem;
    height: 2rem;
    /* border: 2px solid black; */
    border: none;
    border-radius: 100%;
    background-color: var(--lightgrey);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.lattice-button:hover {
    background-color: var(--blue);
    color: white;
}

.lattice-button-left {
    position: absolute;
    left: 1rem;
    top: calc(50% - 2.25rem);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.lattice-button-top {
    position: absolute;
    top: 1rem;
    left: calc(50% - 2.25rem);
    display: inline-flex;
    gap: 0.5rem;
}

.lattice-button-bottom {
    position: absolute;
    bottom: 1rem;
    left: calc(50% - 2.25rem);
    display: inline-flex;
    gap: 0.5rem;
}

.lattice-button-right {
    position: absolute;
    right: 1rem;
    top: calc(50% - 2.25rem);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.lattice-canvas {
    margin: 3rem 2rem;
}

.row-hexagon {
    font-size: 0; /*disable white space between inline block element */
    width: max-content;
}

.row-hexagon button {
    width: var(--s);
    height: calc(var(--s)*1.1547); 
    display: inline-block;
    font-size: calc(var(--s)/2);
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background: black;
    margin-left: var(--m);
    margin-right: var(--m);
    margin-top: calc(var(--m) - var(--s)*0.2885/2);
    margin-bottom: calc(var(--m) - var(--s)*0.2885/2);
    color: white;
    border: 0;
}

.row-hexagon button:hover,
.row-square  button:hover {
    opacity: 0.75;
}

.row-square {
    display: flex;
}

.row-square button {
    width: var(--s);
    margin: var(--m);
    height: var(--s); 
    display: inline-block;
    font-size: calc(var(--s)/2);
    background: black;
    color: white;
    border: 0;
}

.size-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 3;
}

.size-container button {
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    transition: 0.3s;
}

.size-container button:hover {
    background-color: var(--lightgrey);
}

.lattice-manipulation {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    max-width: 300px;
    width: 100%;
}

.lattice-manipulation div {
    display: flex; 
    flex-direction: column;
    width: 60px;
    text-align: center;
}

.lattice-circle {
    display: none;
    position: absolute;
    height: 50vw;
    width: 50vw;
    border-radius: 50%;
    border: 5px solid var(--blue);
    pointer-events: none; /* Click through the circle */
}

.lattice-canvas-row-column-names {
    display: block;
    position: absolute;
    pointer-events: none; /* Click through the circle */
}

/* Color map table */
.color-map {
    grid-area: b;
    height: max-content;
    border: 1px solid var(--lightgrey);
    border-radius: 0.25rem;
}

.color-map-grid-header,
.color-map-grid-content {
    display: grid;
    grid-template-columns: 30px 1fr 1fr 1fr 30px; /* 0.25fr; */
}

.color-map-grid-header {
    background-color: var(--lightgrey);
    font-weight: 700;
}

.color-map-grid-header p {
    padding: 0.5rem;
    font-size: 1rem;
}

.color-map-grid-content :nth-child(5n + 1) {
    padding-left: 0.5rem;
}

.color-map-grid-content .color-map-label,.color-map-color {
    border: none;
    border-right: 1px solid var(--lightgrey);
    font-size: 1rem;
    width: 100%;
    height: 100%;
}

.color-map-grid-content .color-map-label:focus,.color-map-color:focus,
.color-map-grid-content .color-map-label:hover,.color-map-color:hover {
    outline: 1px solid var(--blue);
    outline-offset: -1px;
}

.color-map-grid-content .color-map-checkbox {
    width: auto;
}

.color-map-grid-content p {
    padding: 0.5rem;
}

.color-map-add-row {
    width: 100%;
    height: 1.5rem;
    border: none;
    border-top: 2px solid white;
    background-color: var(--lightgrey);
}

.color-map-add-row:hover {
    background-color: var(--blue);
    color: white;
    border-radius: 0 0 0.25rem 0.25rem;
}

.color-map-delete-row {
    border: none;
    border-top: 2px solid white;
    background-color: var(--lightgrey);
}

.color-map-delete-row:hover {
    background-color: var(--blue);
    color: white;
}

.color-map-delete-row::before {
    content: 'delete';
    font-family: 'Material Symbols Outlined';
    display: block;
    font-size: 18px;
}

.color-map-delete-row-zero {
    border: none;
    border-top: 2px solid white;
}

.color-map-delete-row-zero:hover {
    cursor: default;
}


/* Lattice parameters */
.lattice-parameters {
    grid-area: c;
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.lattice-parameters-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lattice-parameters-body {
    display: none;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-property: all;
    padding-top: 1rem;
    border-top: solid 0.1rem var(--lightgrey);
    margin-top: 0.4rem;
}

.lattice-parameters-body div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.1rem 0rem;
    align-items: center;
}

.lattice-parameters-body-input {
    width: 10rem;
    margin-right: 0.25rem;
}


/* Lattice text area */
.lattice-text {
    grid-area: d;
    height: 100%;
}

.lattice-text-header {
    display: flex;
    height: 3rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.lattice-text textarea {
    height: calc(100% - 3rem);
    display: flex;
    resize: none;
    min-height: 40vh;
    overflow: auto;
}

.copy-button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 1rem;
    height: 2rem;
    min-width: 2rem;
    transition: 0.3s;
}

.copy-button:hover {
    background-color: var(--blue);
    color: white;
}

.copy-button i {
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.copy-button span {
    font-size: 18px;
    font-weight: 700;
}


/* Responsive */
@media screen and (max-width: 440px) {
    .banner-name p {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template: 'a' auto
                       'c' auto
                       'b' auto
                       'd' auto / 1fr;
    }

    .display-large {
        display: none;
    }
}
